<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.bookingRoom.FixBookingActivity"
            android:parentActivityName=".ui.bookingRoom.BookingRoomActivity"
            ></activity>
        <activity android:name=".ui.systemManager.FixInvoicesActivity"
            android:parentActivityName=".ui.systemManager.FragmentHistory"
            />
        <activity
            android:name=".ui.systemManager.FixClientActivity"
            android:parentActivityName=".ui.systemManager.ClientActivity" />
        <activity
            android:name=".ui.systemManager.AddClientActivity"
            android:parentActivityName=".ui.systemManager.ClientActivity" />
        <activity
            android:name=".ui.systemManager.ClientActivity"
            android:parentActivityName=".ui.systemManager.SystemManagerActivity" />
        <activity
            android:name=".ui.systemManager.FixRoomActivity"
            android:parentActivityName=".ui.systemManager.FragmentRoom" />
        <activity android:name=".ui.SignIn" />
        <activity
            android:name=".ui.checkInOut.CheckOutActivity"
            android:parentActivityName=".ui.checkInOut.CheckInOutActivity" />
        <activity
            android:name=".ui.systemManager.FixUserActivity"
            android:parentActivityName=".ui.systemManager.FragmentStaff" />
        <activity
            android:name=".ui.systemManager.Fragment_Add_User"
            android:parentActivityName=".ui.systemManager.FragmentStaff" />
        <activity
            android:name=".ui.systemManager.FragmentHistory"
            android:parentActivityName=".ui.systemManager.SystemManagerActivity" />
        <activity
            android:name=".ui.systemManager.FragmentStaff"
            android:parentActivityName=".ui.systemManager.SystemManagerActivity" />
        <activity
            android:name=".ui.systemManager.FragmentStatistical"
            android:parentActivityName=".ui.systemManager.SystemManagerActivity" />
        <activity
            android:name=".ui.systemManager.FragmentRoom"
            android:parentActivityName=".ui.systemManager.SystemManagerActivity" />
        <activity
            android:name=".ui.systemManager.FragmentAddRoom"
            android:parentActivityName=".ui.systemManager.FragmentRoom" />
        <activity
            android:name=".ui.systemManager.FragmentAddKinOfRoom"
            android:parentActivityName=".ui.systemManager.FragmentKindOfRoom" />
        <activity
            android:name=".ui.systemManager.FragmentKindOfRoom"
            android:parentActivityName=".ui.systemManager.SystemManagerActivity" />
        <activity
            android:name=".ui.systemManager.FixKindOfRoomActivity"
            android:parentActivityName=".ui.systemManager.FragmentKindOfRoom" />
        <activity
            android:name=".ui.checkInOut.CheckInActivity"
            android:parentActivityName=".ui.checkInOut.CheckInOutActivity" />
        <activity
            android:name=".ui.bookingRoom.FragmentAddBooing"
            android:parentActivityName=".ui.bookingRoom.BookingRoomActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.Login" />
        <activity
            android:name=".ui.systemManager.SystemManagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.bookingRoom.BookingRoomActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.checkInOut.CheckInOutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>